body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    font-size: 16px;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    background-color: black;
    border: 2px solid black;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    width: 150px;
}

#navbar a:hover {
    border: 2px solid black;
    background-color: #333;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eee;
}

/* search form */
#search {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 20%;
    padding: 15px;
}

#status {
    padding: 8px;
}

/* create order */
#create-order {
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    border-radius: 4px;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 10%;
    font-size: 16px;
}

.order {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.order p {
    margin: 5px;
}

.order-type {
    font-size: 20px;
}

.dish-row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.dish-row input{
    width: 100%;
}

#add-dish {
    display: block;
    margin: 10px auto;
    background-color: #5c5c5b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 20px;
    cursor: pointer;
    font-size: 24px;
}

#add-dish:hover {
    background-color: #333;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #5c5c5b;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #333;
}

.remove-dish {
    background-color: #5c5c5b;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.remove-dish:hover {
    background-color: red;
}

#revenue {
    font-size: 22px;
    text-align: center;
}
